<footer class="bg-dark text-white text-center text-lg-start mt-auto">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3  align-items-center">
      <div class="col mb-4 mb-md-0">
        <a routerLink="/"><img src="../../../assets/img/logoKartEsteso.png" alt="logo Noi Compriamo Kart" id="logoKart2"></a>
      </div>

      <div class="col mb-md-0 ">
        <h5>LINKS</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Chi siamo</a>
          </li>
          <li>
            <a href="#!" class="text-white">Contatti</a>
          </li>
          <li>
            <a href="#!" class="text-white">Lavora con noi</a>
          </li>
        </ul>
      </div>

      <div class="col mb-4 mb-md-0">
        <h5>SEGUICI SU </h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Fb</a>
          </li>
          <li>
            <a href="#!" class="text-white">Instagram</a>
          </li>
          <li>
            <a href="#!" class="text-white">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024
    <a class="text-white" target="_blank" routerLink="#">www.noicompriamokart.com</a>
  </div>
</footer>

