<h1 class="text-center my-5">I nostri brand</h1>
<div class="row row-cols-1 row-cols-md-3 mx-auto ">
  <div class="col text-center ">
    <a routerLink="/mariobrand"><img src="../../../assets/img/marioLogo.png" class="imgLogo"></a>
  </div>

  <div class="col text-center ">
    <a routerLink="/luigibrand"><img src="../../../assets/img/luigiLogo.png" class="imgLogo"></a>
  </div>

  <div class="col text-center ">
    <a routerLink="/toadbrand"><img src="../../../assets/img/toadLogo.png" class="imgLogo"></a>
  </div>
</div>
