/* You can add global styles to this file, and also import other style files */
.sizeImg  //l'ho messo qui perchè è uguale per tutte le card di tutte le pagine dinamiche
{
  width:300px;
  height: 300px;
  margin: 30px auto;
}


.monete  //l'ho messo qui perchè è uguale per tutte le card di tutte le pagine dinamiche
{
  width:30px;
  height: 30px;
}
